.catComputador_Mesa {
    background: #05e3be;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */

    }
    .catComputador_Portátil {
    background: #c2b7f2;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    }
    .catCámaras {
    background: #C9F2B7;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    }
    .catAntenas_Wifi {
    background: #f9bd93;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    }
    .catTeléfonos_VoIP
    {
    background: #fbf31352;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;   
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */

    }
    .catServidores {
    background: #5a5c698c;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;  
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    }
    .catImpresoras {
    background: #7f8bb9;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;  
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    }
    .catOtros {
        background: #b7ccf2;
        color: #5a5c69;
        padding: 15px;
        border: 1px solid #5a5c69;
        border-radius: 6px;
        text-align:center;
        width: 90%;
        margin: 20px;   
        display: inline-block;
        font-size: 20px;
        text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    }
    .catBodega {
    background: #eff2b7;
    color: #5a5c69;
    padding: 15px;
    border: 1px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 90%;
    margin: 20px;  
    display: inline-block;
    font-size: 20px;
    text-decoration: none !important; /* Elimina el subrayado de enlace en hover */
    
    
    }
    /* colores para tabla */
    .Computador_Mesa {
         font-weight: bold; padding: 15px; border-left:20px solid #05e3be;
    }
    .Computador_Portátil {
         font-weight: bold; padding: 15px; border-left:20px solid #c2b7f2;
    }
    .Cámaras {
        font-weight: bold; padding: 15px; border-left:20px solid #C9F2B7;
    }
    .Teléfonos_VoIP {
        font-weight: bold; padding: 15px; border-left:20px solid #fbf4136b; 
    }
    .Antenas_Wifi {
        font-weight: bold; padding: 15px; border-left:20px solid #f9bd93;
    }
    .Servidores {
        font-weight: bold; padding: 15px; border-left:20px solid #5a5c698c;
    }
    .Impresoras {
        font-weight: bold; padding: 15px; border-left:20px solid #7f8bb9;
    }
    .Otros {
        font-weight: bold; padding: 15px; border-left:20px solid #b7ccf2;
    }
    .Bodega {
        font-weight: bold; padding: 15px; border-left:20px solid #eff2b7;
    }
/* Cambia el color de fondo cuando el cursor está sobre el botón */
.catComputador_Mesa:hover {background-color: #049c928a;}
.catComputador_Portátil:hover {background-color: #a398e4 ;}
.catCámaras:hover {background-color: #B3E782;}
.catAntenas_Wifi:hover {background-color: #e6a17b;}
.catTeléfonos_VoIP:hover { background-color: #d8d100a8;}
.catServidores:hover {background-color:#4a4c58af;}
.catImpresoras:hover {background-color:#6e79a3;}
.catOtros:hover {background-color:#a3b7e6;}
.catBodega:hover {background-color:#d9dd98;}